<div class="row">
    <div class="col-xs12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="rounded-circle">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{recipe.name}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe
                <span class="caret">
                    <ul class="dropdown-menu">
                        <li><a href="#" >To Shoppin List</a></li>
                        <li><a href="#" >Edit Recipe</a></li>
                        <li><a href="#" >Delete Recipe</a></li>
                    </ul>

                </span>
        </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredient
    </div>
</div>
        